.containerjust {
    margin: auto;
    width: 33%;
}

.w100 {
    margin: auto;
    width: 100%;
    margin-bottom: 25px;
}

.btnbar {
    margin-bottom: 15px;
}

.picCont {
    margin: 2%;
    padding: 1%;
    align-items: center;
    overflow: hidden;
}

.bi {
    color: black;
}

.pic {
    border: 5px solid brown;
    background-color: burlywood;
    padding: 10px;
    width: 100%;
}