.containerjust {
    margin: auto;
    width: 50%;
    margin-bottom: 100px;
}

.spinni {
    margin-top: 10px;
    margin-bottom: 5px;
}

.jokeList {
    background-color: bisque;
    padding: 20px;
    border-radius: 30px;
    border-color: sandybrown;
    border-style: solid;
    border-width: 4px;
}

.accColor {
    background-color: bisque;
}

.accordion {
    background-color: sandybrown;
    padding: 3px;
    padding-bottom: 1px;

}

.accordion-collapse,
.accordion-header {
    background-color: sandybrown;
    padding-bottom: 3px;
}